.page {
  width: 100vw;

  position: relative;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


  color: black;
  h1 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    margin-top: 5rem;
    padding: 0;
  }
  
  h2 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
  }
}

.home {
  display: flex;
  flex-direction: column;
  font-family: "Lexend Deca", sans-serif;
  color: #000000;

  width: 100%;
  max-width: 1500px;
  padding: 0;
  margin: 0;
  margin-bottom: 5rem;

  * {
    color: black;
  }
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin-left: 1rem;
  margin-top: 1rem;
  top: 0;
  left: 0;
  align-self: flex-start;

  &:hover {
    cursor: pointer;
  }

  h1 {
    color: black;

    font-family: "Lexend Deca", sans-serif;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .home {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .gradient_background {
    width: 100rem;
  }
}

@media (max-height: 768px) {
  .gradient_background {
    display: none;
  }
}

